/* Resize the header for iPhones and iPads
-------------------------------------------------- */
@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 42px;
  }
}

/* Get the footer to stay at the bottom of the page
-------------------------------------------------- */
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  overflow:auto;
  padding-bottom:0px;
  margin-bottom:145px; /* this needs to be bigger than footer height*/
}

.footer {
  padding-top: 20px;
  margin-top:-145px;
  height: 125px;
  position: relative;
  clear:both;

  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  text-align: center;
  
}

/* Style the footer
 **************************/
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}
/* Custom stuff
 **************************/