<!DOCTYPE html>
<html>
  <head>
    <title>Math and Science Help Center - Menlo</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script src="/static/js/main.js"></script>
  </head>
  <body>
    <header class="fixed">
        <div class="container">
            <a href="/"><h1 class="logo">Math/Science Help Center</h1></a>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href= {{ url_for('learn') }} >Learn</a></li>
                <li><a href= {{ url_for('teach') }} >Teach</a></li>
                <li><a href= {{ url_for('teach') }} >Contribute</a></li>
            </ul>
        </div>
    </header> 
   {% block content %}
   {% endblock %}
  </body>
</html>
