{% extends "layout.html" %}
{% block content %}
<h2>The Learning Zone</h2>
<p>
	We're glad you want to learn! You came to the right place.
</p>
<p>
	The Menlo Math and Science Help Center lives up to its name: our goal is to help YOU with math. Or science.
</p>
<p> 
	All you have to do is tell us what you need help with. Fill out the form below, hit the submit button, and in no time you'll be matched to a tutor.
</p>
<p>
	The more information you give us about your problem, the more we can help you. So get going! Don't just skip the optional questions. Your experience WILL be better if you tell us more
</p>
 <form name="submit" action="submitLearner" method="post" > 
 	<ul>
		<li>
			<h4>About You</h4>
			<ul>
				<li><input type="text" name="fn" placeholder="First Name" /></li>
 				<li><input type="text" name="ln" placeholder="Last Name" /></li>
 				<li><input type="number" name="grade" placeholder="Grade"  min=9 max=12 /></li>
 				<li><input type="email" name="email" placeholder="Preferred Email Address" /></li>
 			</ul>
		</li>
		<li>
 			<h4>What class do you need assistance in?</h4>
 			<fieldset>
 				<legend>Science</legen>
	 				<ul>
	 					<li>
	 					Physics
	 					<ul>
	 						<li><label><input name="freshPhys" type="checkbox" />Freshman Physics</label></li>
	 						<li><label><input name="APPhysB" type="checkbox" />AP Physics B</label></li>
	 						<li><label><input name="APPhysC" type="checkbox" />AP Physics C</label><li>
	 					</ul>
		 				</li>
		 				<li>
		 					Chemistry
		 					<ul>
							 	<li><label><input name="concChem" type="checkbox" />Conceptual Chemistry</li>
							 	<li><label><input name="accelChem" type="checkbox" />Accelerated Chemistry</label></li>
							 	<li><label><input name="APChem" type="checkbox" />AP Chemistry</label></li>
							 	<li><label><input name="OChem" type="checkbox" />Organic Chemistry</label></li>
							</ul>
						</li>
						<li>
							Biological
							<ul>
							 	<li><label><input name="Bio" type="checkbox" />Biology</label></li>
							 	<li><label><input name="ATBio" type="checkbox" />AT Biology</label></li>
							 	<li><label><input name="anatAndPhys" type="checkbox" />Anatomy and Physiology</label></li>
							</ul>
						</li>
						<li>
							Other
							<ul>
								<li><label><input name="APES" type="checkbox" />AP Environmental Science</label></li>
							</ul>
						</li>
					</ul>
				</legend>
			</fieldset>
			Math
			<ul>
 				<li>
 					Geometry
 					<ul>
 						<li><label><input name="alg1" type="checkbox" />Intermediate Algebra</label></li>
 						<li><label><input name="geo" type="checkbox" />Analytic Geo</label></li>
 						<li><label><input name="geoH" type="checkbox" />Analytic Geo (H)</label><li>
 					</ul>
 				</li>
 				<li>
 					Algebra 2
 					<ul>
					 	<li><label><input name="alg2" type="checkbox" />Algebra 2</label></li>
					 	<li><label><input name="A2H" type="checkbox" />Algebra 2 (H)</label></li>
					</ul>
				</li>
				<li>
					Precalculus
					<ul>
					 	<li><label><input name="FST" type="checkbox" />Functions, Statistics, and Trigonometry</label></li>
					 	<li><label><input name="AnalyticPC" type="checkbox" />Analytic Precalc</label></li>
					 	<li><label><input name="PoP" type="checkbox" />PoP</label></li>
					 	<li><label><input name="PCH" type="checkbox" />PCH</label></li>
					</ul>
				</li>
				<li>
					Calculus
					<ul>
					 	<li><label><input name="seniorCalc" type="checkbox" />Intro to Calc w/ Applications</label></li>
					 	<li><label><input name="calcAB" type="checkbox" />AP Calc AB</label></li>
					 	<li><label><input name="calcBC" type="checkbox" />AP Calc BC</label></li>
					</ul>
				</li>
				<li>
					Other
					<ul>
						<li><label><input value="stats" type="checkbox" />Stats</label></li>
						<li><label><input value="APStats" type="checkbox" />AP Stats</label></li>
						<li><label><input value="ATMath" type="checkbox" />AT Math</label></li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<h4>Types of issues</h4>
			What type of help do you need? Our big three categories are doing homework, studying for a test, and working on a long-term project
			<ul>
				<li><label><input name="problem" value="hw" type="radio" />Homework</label></li>
				<li><label><input name="problem" value="test" type="radio" />Test</label></li>
				<li><label><input name="problem" value="proj" type="radio" />Project</label></li>
				<li><label><input name="problem" value="other" type="radio" />Other (please elaborate below)</label></li>
				<li><textarea form="submitLearner" placeholder="Please describe the challenge you're facing. The clearer, the better."></textarea></li>
 			</ul>
 		</li>
 		<li>
 			<h4>Additional Comments</h4>
 			<ul>
				<li><textarea form="submitLearner" name="requests" placeholder="Do you have any requests for particular tutors?"></textarea></li>
 				<li><textarea form="submitLearner" name="availability" placeholder="When are you available?"></textarea></li>
 				<li><textarea form="submitLearner" name="additional_comments" placeholder="Anything else you want to say?"></textarea></li>
 			</ul>
 		</li>
	</ul>
 	<input type="submit" id="submit_learner" value="Go!" />
{% endblock %}