{% extends "layout.html" %}
{% block content %}
<div class="container">
	<h2>The Learning Zone</h2>
	<p>
		We're glad you want to learn! You came to the right place.
	</p>
	<p>
		The Menlo Math and Science Help Center lives up to its name: our goal is to help YOU with math. Or science.
	</p>
	<p> 
		All you have to do is tell us what you need help with. Fill out the form below, hit the submit button, and in no time you'll be matched to a tutor.
	</p>
	<p>
		The more information you give us about your problem, the more we can help you. So get going! Don't just skip the optional questions. Your experience WILL be better if you tell us more
	</p>
	<form id="submit" action="submitLearner" method="post" class="form-horizontal">
		<fieldset>
			<legend>About You</legend>
			<div class="control-group">
				<label class="control-label" for="first-name">First Name</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-font"></i></span>
						<input class="span2" id="first-name" name="first_name"type="text" placeholder="First Name">
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="last-name">Last Name</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-font"></i></span>
						<input class="span2" id="last-name" name="last_name" type="text" placeholder="Last Name">
					</div>	
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="grade">Grade</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on">#</span>
						<input class="span2" id="grade" name="grade" type="number" min=9 max=12>
					</div>	
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="email">Email Address</label>
				<div class="controls">
					<div class="input-prepend input-append">
						<span class="add-on"><i class="icon-envelope"></i></span>
						<input class="span2" id="email" name="email" type="text" placeholder="example">
						<span class="add-on">@menloschool.org</span>
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>What class(es) do you need help in?</legend>
			<select name="science" form="submit" multiple="multiple" size="21" class="pull-left span4">
				<optgroup label="Physics">
					<option value="fresh_phys">Freshman Physics</option>
					<option value="ap_phys_b">AP Physics B</option>
					<option value="ap_phys_c">AP Physics C</option>
				</optgroup>
				<optgroup label="Chemistry">
					<option value="conc_chem">Conceptual Chemistry</option>
					<option value="accel_chem">Accelerated Chemistry</option>
					<option value="ap_chem">AP Chemistry</option>
					<option value="o_chem">Organic Chemistry</option>
				</optgroup>
				<optgroup label="Biology">
					<option value="bio">Biology</option>
					<option value="at_bio">AT Biology</option>
					<option value="anat_and_phys">Anatomy and Physiology</option>
				</optgroup>
				<optgroup label="Other">
					<option value="apes">AP Environmental Science</option>
				</optgroup>
			</select>
			<select name="math" form="submit" multiple="multiple" size="21" class="pull-left span4">
				<optgroup label="Algebra 1">
					<option value="inter_alg">Intermediate Algebra</option>
				</optgroup>
				<optgroup label="Geometry">
					<option value="geo">Analytic Geometry</option>
					<option value="geoh">Analytic Geometry (H)</option>
				</optgroup>
				<optgroup label="Algebra 2">
					<option value="a2">Algebra 2</option>
					<option value="a2h">Algebra 2 (H)</option>
				</optgroup>
				<optgroup label="Precalculus">
					<option value="fst">Functions, Statistics, and Trigonometry</option>
					<option value="pop">Principles of Precalculus</option>
					<option value="apc">Analytical Precalculus</option>
					<option value="pch">Precalculus (H)</option>
				</optgroup>
				<optgroup label="Calculus">
					<option value="calc">Intro to Calculus</option>
					<option value="calc_ab">AP Calculus AB</option>
					<option value="calc_bc">AP Calculus BC</option>
				</optgroup>
				<optgroup label="Other">
					<option value="stats">Statistics</option>
					<option value="ap_stats">AP Statistics</option>
					<option value="at_math">AT Math</option>
				</optgroup>
			</select>
			<select name="cs_as" form="submit" multiple="multiple" size="21" class="pull-left span4">
				<optgroup label="Computer Science">
					<option value="intro_cs">Intro to Programming</option>
					<option value="ap_cs">AP Computer Science</option>
					<option value="at_cs">AT Computer Science</option>
				</optgroup>
				<optgroup label="Lorem">
					<option>Put the applied science stuff here</option>
					<option>Lorem</option>
					<option>Ipsem</option>
					<option>Dolor</option>
				</optgroup>
				<optgroup label="Ipsur">
					<option>Emet</option>
					<option>Misra</option>
					<option>Ol</option>
				</optgroup>
				<optgroup label="Other">
					<option>Lared</option>
				</optgroup>
			</select>
		</fieldset>
		<p><small>To select multiple options, hold down the command key (&#8984;) on Mac or the control (CTRL) button on Windows.</small></p>
		<fieldset>
			<legend>Specific Challenge</legend>
			<p>We categorize assistance into three categories - finishing homework, studying for a test, and working on a long-term project</p>
			<!--<div class="control-group">  
            	<label class="control-label" for="textarea">Homework</label>  
            	<div class="controls">  
					<input type="radio" name="issue" id="hw" value="hw">
            	</div>  
        	</div>
        	<div class="control-group">  
            	<label class="control-label" for="textarea">Test</label>  
            	<div class="controls">  
					<input type="radio" name="issue" id="test" value="test">
            	</div>  
        	</div>
        	<div class="control-group">  
            	<label class="control-label" for="textarea">Project</label>  
            	<div class="controls">
					<input type="radio" name="issue" id="project" value="project">
            	</div>  
        	</div>
        	<div class="control-group">  
            	<label class="control-label" for="textarea">Other (please elaborate)</label>  
            	<div class="controls">  
					<input type="radio" name="issue" id="other" value="other">
					<input type="text" name="issue_elaboration" id="elaboraton" disabled>
            	</div>  
        	</div>-->
        	<label class="radio">
			  <input type="radio" name="issue" id="hw" value="hw">
			  Homework
			</label>
			<label class="radio">
			  <input type="radio" name="issue" id="test" value="test">
			  Test
			</label>
			<label class="radio">
			  <input type="radio" name="issue" id="project" value="project">
			  Project
			</label>
			<label class="radio inline">
			  <input type="radio" name="issue" id="other" value="other">
			  Other (please elaborate)
			  <input type="text" name="issue_elaboration" id="elaboraton" disabled>
			</label>
		</fieldset>
		<fieldset>
			<legend>Additional Information</legend>
			<div class="control-group">  
            	<label class="control-label" for="textarea">Elaborate</label>  
            	<div class="controls">  
					<textarea rows=4 form="submit" name="challenge" placeholder="Describe the particular challenge you're stuggling with. The clearer, the better." class="span4"></textarea>
            	</div>  
        	</div>  
			<div class="control-group">
            	<label class="control-label" for="textarea">Requests</label>  
            	<div class="controls">  
					<textarea rows=4 form="submit" name="requests" placeholder="Do you have any requests for particular tutors?" class="span4"></textarea>
            	</div>  
        	</div>  
        	<div class="control-group">  
            	<label class="control-label" for="textarea">Availability</label>  
            	<div class="controls">  
					<textarea rows=4 form="submit" name="availability" placeholder="When are you available? Include your free period, if applicable." class="span4"></textarea>
            	</div>  
        	</div>  
        	<div class="control-group">  
            	<label class="control-label" for="textarea">Comments</label>  
            	<div class="controls">  
					<textarea rows=4 form="submit" name="additional_comments" placeholder="Is there anything else you would to add?" class="span4"></textarea>
            	</div>  
        	</div>
		</fieldset>
		<button type="submit" class="btn btn-primary">Submit!</button>
	</form>
</div>
{% endblock %}