{% extends "layout.html" %}
{% block content %}
<div class="container">
	<h2>The Learning Zone</h2>
	<p>
		We're glad you want to learn! You came to the right place.
	</p>
	<p>
		The Menlo Math and Science Help Center lives up to its name: our goal is to help YOU with math. Or science.
	</p>
	<p> 
		All you have to do is tell us what you need help with. Fill out the form below, hit the submit button, and in no time you'll be matched to a tutor.
	</p>
	<p>
		The more information you give us about your problem, the more we can help you. So get going! Don't just skip the optional questions. Your experience WILL be better if you tell us more
	</p>
	<form id="submit" action="submitLearner" method="post" class="form-horizontal">
		<fieldset>
			<legend>About You</legend>
			<div class="control-group">
				<label class="control-label" for="first-name">First Name</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-font"></i></span>
						<input class="span2" id="first-name" type="text" placeholder="First Name">
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="last-name">Last Name</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-font"></i></span>
						<input class="span2" id="last-name" type="text" placeholder="Last Name">
					</div>	
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="grade">Grade</label>
				<div class="controls">
					<div class="input-prepend">
						<span class="add-on">#</span>
						<input class="span2" id="grade" type="number" min=9 max=12>
					</div>	
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="email">Email Address</label>
				<div class="controls">
					<div class="input-prepend input-append">
						<span class="add-on"><i class="icon-envelope"></i></span>
						<input class="span2" id="email" type="text" placeholder="example">
						<span class="add-on">@menloschool.org</span>
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>What class(es) do you need help in?</legend>
			<select multiple="multiple" size="21" class="pull-left span4" form="submit">
				<optgroup label="Physics">
					<option>Freshman Physics</option>
					<option>AP Physics B</option>
					<option>AP Physics C</option>
				</optgroup>
				<optgroup label="Chemistry">
					<option>Conceptual Chemistry</option>
					<option>Accelerated Chemistry</option>
					<option>AP Chemistry</option>
					<option>Organic Chemistry</option>
				</optgroup>
				<optgroup label="Biology">
					<option>Biology</option>
					<option>AT Biology</option>
					<option>Anatomy and Physiology</option>
				</optgroup>
				<optgroup label="Other">
					<option>AP Environmental Science</option>
				</optgroup>
			</select>
			<select multiple="multiple" size="21" class="pull-left span4" form="submit">
				<optgroup label="Algebra 1">
					<option>Intermediate Algebra</option>
				</optgroup>
				<optgroup label="Geometry">
					<option>Analytic Geometry</option>
					<option>Analytic Geometry (H)</option>
				</optgroup>
				<optgroup label="Algebra 2">
					<option>Algebra 2</option>
					<option>Algebra 2 (H)</option>
				</optgroup>
				<optgroup label="Precalculus">
					<option>Functions, Statistics, and Trigonometry</option>
					<option>Principles of Precalculus</option>
					<option>Analytical Precalculus</option>
					<option>Precalculus (H)</option>
				</optgroup>
				<optgroup label="Calculus">
					<option>Intro to Calculus</option>
					<option>AP Calculus AB</option>
					<option>AP Calculus BC</option>
				</optgroup>
				<optgroup label="Other">
					<option>Statistics</option>
					<option>AP Statistics</option>
					<option>AT Math</option>
				</optgroup>
			</select>
			<select multiple="multiple" size="21" class="pull-left span4" form="submit">
				<optgroup label="Computer Science">
					<option>Intro to Programming</option>
					<option>AP Computer Science</option>
					<option>AT Computer Science</option>
				</optgroup>
				<optgroup label="Lorem">
					<option>Put the applied science stuff here</option>
					<option>Lorem</option>
					<option>Ipsem</option>
					<option>Dolor</option>
				</optgroup>
				<optgroup label="Ipsur">
					<option>Emet</option>
					<option>Misra</option>
					<option>Ol</option>
				</optgroup>
				<optgroup label="Other">
					<option>Lared</option>
				</optgroup>
			</select>
		</fieldset>
		<p><small>To select multiple options, hold down the command key (&#8984;) on Mac or the control (CTRL) button on Windows.</small></p>
		<fieldset>
			<legend>Specific Challenge</legend>
			<p>We categorize assistance into three categories - finishing homework, studying for a test, and working on a long-term project</p>
			<label class="radio">
			  <input type="radio" name="issue" id="hw" value="hw">
			  Homework
			</label>
			<label class="radio">
			  <input type="radio" name="issue" id="test" value="test">
			  Test
			</label>
			<label class="radio">
			  <input type="radio" name="issue" id="project" value="project">
			  Project
			</label>
			<label class="radio">
			  <input type="radio" name="issue" id="other" value="other">
			  Other (please elaborate)
			</label>
			<textarea rows=4 form="submit" placeholder="Please describe the challenge you're facing. The clearer, the better."></textarea>
		</fieldset>
		<fieldset>
			<legend>Additional Comments</legend>
			Requests
			<textarea rows=4 form="submit" name="requests" placeholder="Do you have any requests for particular tutors?" class="span4"></textarea>
			Availability
			<textarea rows=4 form="submit" name="availability" placeholder="When are you available? Include your free period, if applicable." class="span4"></textarea>
			Comments
			<textarea rows=4 form="submit" name="additional_comments" placeholder="Is there anything else you would to add?" class="span4"></textarea>
		</fieldset>
		<button type="submit" class="btn">Submit</button>
	</form>
	<!--<form> 
		<ul>
			<li>
				<h4>What class do you need assistance in?</h4>
				<fieldset>
					<legend>Science</legen>
						<ul>
							<li>
								Physics
								<ul>
									<li><label><input name="freshPhys" type="checkbox" />Freshman Physics</label></li>
									<li><label><input name="APPhysB" type="checkbox" />AP Physics B</label></li>
									<li><label><input name="APPhysC" type="checkbox" />AP Physics C</label></li>
								</ul>
							</li>
							<li>
								Chemistry
								<ul>
									<li><label><input name="concChem" type="checkbox" />Conceptual Chemistry</li>
									<li><label><input name="accelChem" type="checkbox" />Accelerated Chemistry</label></li>
									<li><label><input name="APChem" type="checkbox" />AP Chemistry</label></li>
									<li><label><input name="OChem" type="checkbox" />Organic Chemistry</label></li>
								</ul>
							</li>
							<li>
								Biological
								<ul>
									<li><label><input name="Bio" type="checkbox" />Biology</label></li>
									<li><label><input name="ATBio" type="checkbox" />AT Biology</label></li>
									<li><label><input name="anatAndPhys" type="checkbox" />Anatomy and Physiology</label></li>
								</ul>
							</li>
							<li>
								Other
								<ul>
									<li><label><input name="APES" type="checkbox" />AP Environmental Science</label></li>
								</ul>
							</li>
						</ul>
					</legend>
				</fieldset>
				Math
				<ul>
					<li>
						Geometry
						<ul>
							<li><label><input name="alg1" type="checkbox" />Intermediate Algebra</label></li>
							<li><label><input name="geo" type="checkbox" />Analytic Geo</label></li>
							<li><label><input name="geoH" type="checkbox" />Analytic Geo (H)</label></li>
						</ul>
					</li>
					<li>
						Algebra 2
						<ul>
							<li><label><input name="alg2" type="checkbox" />Algebra 2</label></li>
							<li><label><input name="A2H" type="checkbox" />Algebra 2 (H)</label></li>
						</ul>
					</li>
					<li>
						Precalculus
						<ul>
							<li><label><input name="FST" type="checkbox" />Functions, Statistics, and Trigonometry</label></li>
							<li><label><input name="AnalyticPC" type="checkbox" />Analytic Precalc</label></li>
							<li><label><input name="PoP" type="checkbox" />PoP</label></li>
							<li><label><input name="PCH" type="checkbox" />PCH</label></li>
						</ul>
					</li>
					<li>
						Calculus
						<ul>
							<li><label><input name="seniorCalc" type="checkbox" />Intro to Calc w/ Applications</label></li>
							<li><label><input name="calcAB" type="checkbox" />AP Calc AB</label></li>
							<li><label><input name="calcBC" type="checkbox" />AP Calc BC</label></li>
						</ul>
					</li>
					<li>
						Other
						<ul>
							<li><label><input value="stats" type="checkbox" />Stats</label></li>
							<li><label><input value="APStats" type="checkbox" />AP Stats</label></li>
							<li><label><input value="ATMath" type="checkbox" />AT Math</label></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<h4>Types of issues</h4>
				What type of help do you need? Our big three categories are doing homework, studying for a test, and working on a long-term project
				<ul>
					<li><label><input name="problem" value="hw" type="radio" />Homework</label></li>
					<li><label><input name="problem" value="test" type="radio" />Test</label></li>
					<li><label><input name="problem" value="proj" type="radio" />Project</label></li>
					<li><label><input name="problem" value="other" type="radio" />Other (please elaborate below)</label></li>
					<li><textarea form="submitLearner" placeholder="Please describe the challenge you're facing. The clearer, the better."></textarea></li>
				</ul>
			</li>
			<li>
				<h4>Additional Comments</h4>
				<ul>
					<li><textarea form="submitLearner" name="requests" placeholder="Do you have any requests for particular tutors?"></textarea></li>
					<li><textarea form="submitLearner" name="availability" placeholder="When are you available?"></textarea></li>
					<li><textarea form="submitLearner" name="additional_comments" placeholder="Anything else you want to say?"></textarea></li>
				</ul>
			</li>
		</ul>
		<input type="submit" id="submit_learner" value="Go!" />
	</form>-->
</div>
{% endblock %}