{% extends "layout.html" %}
{% block content %}
<h2>The Teaching Zone</h2>
<p>
	So you want to be a tutor, huh? You think you have what it takes to be the very best?
</p>
<p>
	We appreciate your willingness to help others, but keep in mind that tutoring is not a light responsibility. It is your job to show up to every meeting prepared and ready to engage your student to your utmost.
</p>
<p>
	With that said, hop on board. The MSHC is always happy to have new members
</p>
 <form action="submitTutor" method="post" >
	<ul>
		<li>
			<h4>About You</h4>
			<ul>
				<li><input type="text" placeholder="First Name" /></li>
 				<li><input type="text" placeholder="Last Name" /></li>
 				<li><input type="number" placeholder="Grade"  min=9 max=12/></li>
 				<li><input type="text" placeholder="Preferred Email Address" /></li>
 			</ul>
		</li>
		<li>
 			<h4>Which classes can you tutor?</h4>
 			Science
 			<ul>
 				<li>
 					Physics
 					<ul>
 						<li><label><input value="Freshman Physics" type="checkbox" />Freshman Physics</label></li>
 						<li><label><input value="AP Physics B" type="checkbox" />AP Physics B</label></li>
 						<li><label><input value="AP Physics C" type="checkbox" />AP Physics C</label><li>
 					</ul>
 				</li>
 				<li>
 					Chemistry
 					<ul>
					 	<li><label><input value="Conceptual Chemistry" type="checkbox" />Conceptual Chemistry</li>
					 	<li><label><input value="Accelerated Chemistry" type="checkbox" />Accelerated Chemistry</label></li>
					 	<li><label><input value="AP Chemistry" type="checkbox" />AP Chemistry</label></li>
					 	<li><label><input value="Organic Chemistry" type="checkbox" />Organic Chemistry</label></li>
					</ul>
				</li>
				<li>
					Biological
					<ul>
					 	<li><label><input value="Biology" type="checkbox" />Biology</label></li>
					 	<li><label><input value="AT Biology" type="checkbox" />AT Biology</label></li>
					 	<li><label><input value="Anatomy and Physiology" type="checkbox" />Anatomy and Physiology</label></li>
					</ul>
				</li>
				<li>
					Other
					<ul>
						<li><label><input value="AP Environmental Science" type="checkbox" />AP Environmental Science</label></li>
					</ul>
				</li>
			</ul>
			Math
			<ul>
 				<li>
 					Geometry
 					<ul>
 						<li><label><input value="Intermediate Algebra" type="checkbox" />Intermediate Algebra</label></li>
 						<li><label><input value="Analytic Geo" type="checkbox" />Analytic Geo</label></li>
 						<li><label><input value="Analytic Geo (H)" type="checkbox" />Analytic Geo (H)</label><li>
 					</ul>
 				</li>
 				<li>
 					Algebra 2
 					<ul>
					 	<li><label><input value="Algebra 2" type="checkbox" />Algebra 2</label></li>
					 	<li><label><input value="A2H" type="checkbox" />Algebra 2 (H)</label></li>
					</ul>
				</li>
				<li>
					Precalculus
					<ul>
					 	<li><label><input value="Functions, Statistics, and Trigonometry" type="checkbox" />Functions, Statistics, and Trigonometry</label></li>
					 	<li><label><input value="Analytic Precalc" type="checkbox" />Analytic Precalc</label></li>
					 	<li><label><input value="PoP" type="checkbox" />PoP</label></li>
					 	<li><label><input value="PCH" type="checkbox" />PCH</label></li>
					</ul>
				</li>
				<li>
					Calculus
					<ul>
					 	<li><label><input value="Intro to Calc w/ Applications" type="checkbox" />Intro to Calc w/ Applications</label></li>
					 	<li><label><input value="AP Calc AB" type="checkbox" />AP Calc AB</label></li>
					 	<li><label><input value="AP Calc BC" type="checkbox" />AP Calc BC</label></li>
					</ul>
				</li>
				<li>
					Other
					<ul>
						<li><label><input value="Stats" type="checkbox" />Stats</label></li>
						<li><label><input value="AP Stats" type="checkbox" />AP Stats</label></li>
						<li><label><input value="AT Math" type="checkbox" />AT Math</label></li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<h4>Teacher Information</h4>
			We trust that you know your stuff, but just to make sure, please enter the name and email address of a teacher we can speak to in order to verify your qualifications
			<ul>
				<li><input type="text" placeholder="First Name" /></li>
 				<li><input type="text" placeholder="Last Name" /></li>
 				<li><input type="text" placeholder="Email" /></li>
 			</ul>
 		</li>
 		<li>
 			<h4>Additional Comments</h4>
 			<ul>
				<li><textarea form="submitTutor" placeholder="Do you have any requests for students?"></textarea></li>
 				<li><textarea form="submitTutor" placeholder="When are you available?"></textarea></li>
 				<li><textarea form="submitTutor" placeholder="Anything else you want to say?"></textarea></li>
 			</ul>
 		</li>
	</ul>
 	<input type="submit" id="submit_learner" value="Go!" />
{% endblock %}