{% extends "layout.html" %}
{% block content %}
<div id="alert" class="alert alert-error alert-block hidden">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<span id="alert-text"></span>
</div>
<form id="signup" action="signup" method="post" class="form-horizontal">
	<fieldset>
		<legend>Account Details</legend>
		<div id="email-control-group" class="control-group">
			<label class="control-label" for="email">Email Address</label>
			<div class="controls">
				<div class="input-prepend input-append">
					<span class="add-on"><i class="icon-envelope"></i></span>
					<input class="span2" id="email" name="email" type="text" placeholder="first.last">
					<span class="add-on">@menloschool.org</span>
				</div>
				<span id="email-label" class="label"></span>
			</div>
		</div>
		<div id="password-control-group" class="control-group">
			<label class="control-label" for="password">
				Old Password <a href="#" rel="tooltip" title="A password must ____"><i class="icon-info-sign"></i></a>
			</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on"><i class="icon-font"></i></span>
					<input class="span2" id="password" name="password" type="password" placeholder="Password">
				</div>
				<span id="password-label" class="label"></span>
			</div>
		</div>
		<div id="password-control-group" class="control-group">
			<label class="control-label" for="password">
				New Password <a href="#" rel="tooltip" title="A password must ____"><i class="icon-info-sign"></i></a>
			</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on"><i class="icon-font"></i></span>
					<input class="span2" id="password" name="password" type="password" placeholder="Password">
				</div>
				<span id="password-label" class="label"></span>
			</div>
		</div>
		<div id="confirm-password-control-group" class="control-group">
			<label class="control-label" for="confirm-password">
				Confirm New Password <a href="#" rel="tooltip" title="What you enter here must be the same as what you entered above."><i class="icon-info-sign"></i></a>
			</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on"><i class="icon-font"></i></span>
					<input class="span2" id="confirm-password" name="confirm-password" type="password" placeholder="Confirm Password">
				</div>
				<span id="confirm-password-label" class="label"></span>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>About You</legend>
		<div id="first-name-control-group" class="control-group">
			<label class="control-label" for="first-name">
				First Name <a href="#" rel="tooltip" title="A first name must contain only letters (it match the regular expression '^[a-zA-Z]+$')"><i class="icon-info-sign"></i></a>
			</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on"><i class="icon-font"></i></span>
					<input class="span2" id="first-name" name="first_name"type="text" placeholder="First Name">
				</div>
				<span id="first-name-label" class="label"></span>
			</div>
		</div>
		<div id="last-name-control-group" class="control-group">
			<label class="control-label" for="last-name">Last Name</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on"><i class="icon-font"></i></span>
					<input class="span2" id="last-name" name="last_name" type="text" placeholder="Last Name">
				</div>
				<span id="last-name-label" class="label"></span>	
			</div>
		</div>
		<div id="grade-control-group" class="control-group">
			<label class="control-label" for="grade">Grade</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">#</span>
					<input class="span2" id="grade" name="grade" type="number" min=9 max=12 placeholder="Between 9 and 12">
				</div>
				<span id="grade-label" class="label"></span>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Math/Science Classes <em>You Could Tutor</em></legend>
		<p><small>To select multiple options, hold down the command key (&#8984;) on Mac or the control (CTRL) button on Windows.</small></p>
		<select id="tutor_science" name="tutor_science" multiple="multiple" size="21" class="pull-left span4">
			<optgroup label="Physics">
				<option value="fresh_phys">Freshman Physics</option>
				<option value="ap_phys_b">AP Physics B</option>
				<option value="ap_phys_c">AP Physics C</option>
			</optgroup>
			<optgroup label="Chemistry">
				<option value="conc_chem">Conceptual Chemistry</option>
				<option value="accel_chem">Accelerated Chemistry</option>
				<option value="ap_chem">AP Chemistry</option>
				<option value="o_chem">Organic Chemistry</option>
			</optgroup>
			<optgroup label="Biology">
				<option value="bio">Biology</option>
				<option value="at_bio">AT Biology</option>
				<option value="anat_and_phys">Anatomy and Physiology</option>
			</optgroup>
			<optgroup label="Other">
				<option value="apes">AP Environmental Science</option>
			</optgroup>
		</select>
		<select id="tutor_math" name="tutor_math" form="signup" multiple="multiple" size="21" class="pull-left span4">
			<optgroup label="Algebra 1">
				<option value="inter_alg">Intermediate Algebra</option>
			</optgroup>
			<optgroup label="Geometry">
				<option value="geo">Analytic Geometry</option>
				<option value="geoh">Analytic Geometry (H)</option>
			</optgroup>
			<optgroup label="Algebra 2">
				<option value="a2">Algebra 2</option>
				<option value="a2h">Algebra 2 (H)</option>
			</optgroup>
			<optgroup label="Precalculus">
				<option value="fst">Functions, Statistics, and Trigonometry</option>
				<option value="pop">Principles of Precalculus</option>
				<option value="apc">Analytical Precalculus</option>
				<option value="pch">Precalculus (H)</option>
			</optgroup>
			<optgroup label="Calculus">
				<option value="calc">Intro to Calculus</option>
				<option value="calc_ab">AP Calculus AB</option>
				<option value="calc_bc">AP Calculus BC</option>
			</optgroup>
			<optgroup label="Other">
				<option value="stats">Statistics</option>
				<option value="ap_stats">AP Statistics</option>
				<option value="at_math">AT Math</option>
			</optgroup>
		</select>
		<select id="tutor_cs_as" name="tutor_cs_as" form="signup" multiple="multiple" size="21" class="pull-left span4">
			<optgroup label="Computer Science">
				<option value="intro_cs">Intro to Programming</option>
				<option value="ap_cs">AP Computer Science</option>
				<option value="at_cs">AT Computer Science</option>
			</optgroup>
			<optgroup label="Applied Science">
				<option value="asr">ASR (H)</option>
				<option value="biotech">Biotechnology/Science Research</option>
				<option value="robo">Electronics/Robotics</option>
			</optgroup>
			<optgroup label="Engineering">
				<option value="eng1">Fundamentals of Engineering</option>
				<option value="eng2">Entrepreneurship Engineering</option>
			</optgroup>
			<optgroup label="Other">
				<option value="tool_safety">Design Thinking and Tool Safety (IS)</option>
			</optgroup>
		</select>
	</fieldset>
	<fieldset>
		<legend>Math/Science Classes <em>You Are Currently Taking</em></legend>
		<p><small>To select multiple options, hold down the command key (&#8984;) on Mac or the control (CTRL) button on Windows.</small></p>
		<select id="learn_science" name="learn_science" multiple="multiple" size="21" class="pull-left span4">
			<optgroup label="Physics">
				<option value="fresh_phys">Freshman Physics</option>
				<option value="ap_phys_b">AP Physics B</option>
				<option value="ap_phys_c">AP Physics C</option>
			</optgroup>
			<optgroup label="Chemistry">
				<option value="conc_chem">Conceptual Chemistry</option>
				<option value="accel_chem">Accelerated Chemistry</option>
				<option value="ap_chem">AP Chemistry</option>
				<option value="o_chem">Organic Chemistry</option>
			</optgroup>
			<optgroup label="Biology">
				<option value="bio">Biology</option>
				<option value="at_bio">AT Biology</option>
				<option value="anat_and_phys">Anatomy and Physiology</option>
			</optgroup>
			<optgroup label="Other">
				<option value="apes">AP Environmental Science</option>
			</optgroup>
		</select>
		<select id="learn_math" name="learn_math" form="signup" multiple="multiple" size="21" class="pull-left span4">
			<optgroup label="Algebra 1">
				<option value="inter_alg">Intermediate Algebra</option>
			</optgroup>
			<optgroup label="Geometry">
				<option value="geo">Analytic Geometry</option>
				<option value="geoh">Analytic Geometry (H)</option>
			</optgroup>
			<optgroup label="Algebra 2">
				<option value="a2">Algebra 2</option>
				<option value="a2h">Algebra 2 (H)</option>
			</optgroup>
			<optgroup label="Precalculus">
				<option value="fst">Functions, Statistics, and Trigonometry</option>
				<option value="pop">Principles of Precalculus</option>
				<option value="apc">Analytical Precalculus</option>
				<option value="pch">Precalculus (H)</option>
			</optgroup>
			<optgroup label="Calculus">
				<option value="calc">Intro to Calculus</option>
				<option value="calc_ab">AP Calculus AB</option>
				<option value="calc_bc">AP Calculus BC</option>
			</optgroup>
			<optgroup label="Other">
				<option value="stats">Statistics</option>
				<option value="ap_stats">AP Statistics</option>
				<option value="at_math">AT Math</option>
			</optgroup>
		</select>
		<select id="learn_cs_as" name="learn_cs_as" form="signup" multiple="multiple" size="21" class="pull-left span4">
			<optgroup label="Computer Science">
				<option value="intro_cs">Intro to Programming</option>
				<option value="ap_cs">AP Computer Science</option>
				<option value="at_cs">AT Computer Science</option>
			</optgroup>
			<optgroup label="Applied Science">
				<option value="asr">ASR (H)</option>
				<option value="biotech">Biotechnology/Science Research</option>
				<option value="robo">Electronics/Robotics</option>
			</optgroup>
			<optgroup label="Engineering">
				<option value="eng1">Fundamentals of Engineering</option>
				<option value="eng2">Entrepreneurship Engineering</option>
			</optgroup>
			<optgroup label="Other">
				<option value="tool_safety">Design Thinking and Tool Safety (IS)</option>
			</optgroup>
		</select>
	</fieldset>
	<p><small>By clicking sign up, you agree to our <a href={{ url_for('terms_and_conditions') }}>Terms and Conditions<a></small></p>
	<button type="submit" class="btn btn-primary" id="submit_button">Sign Up!</button>
{% endblock %}