{% extends "layout.html" %}
{% block content %}
<h2>Learning</h2>
<p>
	If you need help, you're in the right place. We're glad you want to learn! You came to the right place. Here at the Math &amp; Science Help Center, our goal is to help <em>you</em> with math and/or science. Simply tell us what you need help with by filling out the form below. When you submit your information, your request will be added to a queue. Everyone (especially tutors) can see all requests at any time, and hopefully you'll soon be contacted by a tutor who is ready to help you. If you're not contacted within, say, a week, email me at sam.redmond@menloschool.org and I'll personally help you out.
</p>
<p>
	In order for this interaction to be effective, you need to really describe the problem you're having. The more information you tell us, the better we can prepare to help you. Really go for it on the optional questions. 
</p>
<div id="alert" class="alert alert-error alert-block hidden">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<span id="alert-text"></span>
</div>
<form id="learn" action="/learn" method="post" class="form-horizontal">
	<fieldset>
		<legend>Which class do you need help in? <small>Select One</small></legend>
		<div class="btn-group" data-toggle="buttons-radio">
		{% for cl in user.learning %}
  			<button type="button" class="btn">{{ cl.title }}</button>
  		{% endfor %}
		</div>
		<input class="hidden" id="subj_title" name="subj_title">
	</fieldset>
	<fieldset>
		<legend>Specific Challenge <small>Select One</small></legend>
		<p>In general, we categorize assistance into three categories - homework help, studying for a test, and working on a long-term project.</p>
    	<label class="radio">
		  <input type="radio" name="issue" id="hw" value="hw" checked="checked">
		  Homework
		</label>
		<label class="radio">
		  <input type="radio" name="issue" id="test" value="test">
		  Test
		</label>
		<label class="radio">
		  <input type="radio" name="issue" id="proj" value="proj">
		  Project
		</label>
		<label class="radio inline">
		  <input type="radio" name="issue" id="other" value="other">
		  Other (please elaborate)
		  <input type="text" name="elaboration" id="elaboration" disabled="disabled">
		</label>
	</fieldset>
	<fieldset>
		<legend>Additional Information</legend>
		<div id="title-control-group" class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on"><i class="icon-font"></i></span>
					<input class="span2" id="title" name="title" type="text" placeholder="Title your request.">
				</div>
				<span id="title-label" class="label"></span>
			</div>
		</div>
		<div id="challenge-control-group" class="control-group">
        	<label class="control-label" for="challenge">Specific Challenge</label>
        	<div class="controls">
				<textarea rows=4 form="learn" name="challenge" id="challenge" placeholder="Describe the particular challenge you're stuggling with. The clearer, the better." class="span4"></textarea>
				<span id="challenge-label" class="label"></span>
        	</div>
    	</div>
	</fieldset>
	<fieldset>
		<legend>Optional Information</legend>
		<div class="control-group">
        	<label class="control-label" for="requests">Requests</label>  
        	<div class="controls">  
				<textarea rows=4 form="learn" name="requests" placeholder="Do you have any requests for particular tutors?" class="span4"></textarea>
        	</div>  
    	</div>  
    	<div class="control-group">  
        	<label class="control-label" for="availability">Availability</label>  
        	<div class="controls">  
				<textarea rows=4 form="learn" name="availability" placeholder="When are you available? Include your free period, if applicable." class="span4"></textarea>
        	</div>  
    	</div>  
    	<div class="control-group">  
        	<label class="control-label" for="additional_comments">Comments</label>  
        	<div class="controls">  
				<textarea rows=4 form="learn" name="additional_comments" placeholder="Is there anything else you would to add?" class="span4"></textarea>
        	</div>  
    	</div>
	</fieldset>
	<button type="submit" class="btn btn-primary" id="submit_learn_request">Submit!</button>
</form>
{% endblock %}