{% extends "layout.html" %}
{% block content %}
<div class="well well-large span4 offset4">
	<h2>Log In</h2>
	<form action="" method="post" name="login">
		<input type="text" name="email" class="input-block-level" placeholder="Email Address">
		<input type="password" name="password" class="input-block-level" placeholder="Password">
		<label class="checkbox">
			<input type="checkbox" value="remember-me">Remember Me
		</label>
		<button class="btn btn-primary" type="submit">Go!</button>
	</form>
	<a href="reset_password">Forgot your password?</a>
</div>
<div class="well well-large text-center span4 offset4">
	<h2>Don't have an account?</h2>
	<a href={{ url_for('signup') }} class="btn btn-large btn-primary" type="submit">Sign Up Now!</a>
</div>
{% endblock %}