{% extends "layout.html" %}
{% block content %}
<h2>Teaching</h2>
<p>
	We're so glad that you want to tutor students. It is incredibly rewarding, and can even be fun! Keep in mind that these students are relying on you for help - as such, it is not a light responsibility. It is your job to show up to every session prepared and ready to engage your student to your utmost.
</p>
<p>
	Below is a list of requests for help in classes you can tutor. In the future, expect to be able to filter this list more.
</p>
<div class="accordion" id="accordion">
	{% for r in requests %}
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href={{ "#collapse%s" % loop.index }}>
				{{ r.title }} <small>by {{ r.author.first_name }} {{ r.author.last_name }} at {{ r.pretty_time }} GMT</small>
			</a>
		</div>
		<div id={{ "collapse%s" % loop.index }} class="accordion-body collapse">
			<div class="accordion-inner">
				{{ r.author.first_name }} {{ r.author.last_name }} is in {{ r.author.grade }}th grade (email is {{ r.email }}. He/she has requested help with {{ r.title }}
				<dl class="dl-horizontal">
					<dt>Issue</dt>
					<dd>{{ r.issue }}</dd>
					<dt>Body</dt>
					<dd>{{ r.body }}</dd>
					<dt>Extra Requests</dt>
					<dd>{{ r.extra_requests }}</dd>
					<dt>Availability</dt>
					<dd>{{ r.availability }}</dd>
					<dt>Additional Comments</dt>
					<dd>{{ r.additional }}</dd>
				</dl>
				<div class="text-center">
					<h4>Want to help {{ r.author.first_name }} {{ r.author.last_name }}? Initiate contact by sending an email!</h4>
					<p>We provide a template email for you, but feel free to customize it.</p>
					<p><a data-target={{ "#modal%s" % loop.index }} role="button" class="btn btn-info" data-toggle="modal">View details &raquo;</a></p>
					<div id={{ "modal%s" % loop.index }} class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby={{ "modal_label%s" % loop.index }} aria-hidden="true">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3 id={{ "modal_label%s" % loop.index }}>Email for {{ r.author.first_name }} {{ r.author.last_name }}</h3>
						</div>
						<div class="modal-body">
							<p>Send this email to: {{ r.author.email }}</p>
							<hr>
							<p class="text-left">Hello {{ r.author.first_name }} {{ r.author.last_name }},</p>
							<p class="text-left">My name is {{ user.first_name }} {{ user.last_name }} from the Math and Science Help Center. I saw that you need help in one of your math/science classes. I can help you! Let's decide on a place and time to meet.</p>
							<p class="text-right">Please let me know, {{ user.first_name }} {{ user.last_name }}</p>
						</div>
						<div class="modal-footer">
							<button class="btn" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<p>No requests found.</p>
	{% endfor %}
</div>
{% endblock %}